$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



/*=================================
COLORS
=================================*/

$color-primary: #2D4059;
$color-secondary: #BE4445;
$color-secondary-light: #EA5455;

$text-color: #FFF;



/*=================================
MAIN
=================================*/
body {
    background-color: $color-primary;
    color: $text-color;
}



/*=================================
ROBOT
=================================*/
.robot {
    width: 100%;
    height: 100vh;
    text-align: center;
    svg {
        position: absolute;
        bottom: 0;
    }
}

.robot-food {
    position: absolute;
    bottom: 0;
    left: -50px;
}

.robot-vomit {
    position: absolute;
    z-index: 1;
}
